<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-todolist</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://unpkg.com/vue@3.4.27/dist/vue.global.js"></script>
</head>

<body>
    <div class="container">
        <h1>Prova</h1>
        <div>
            <ul class="container-lista">
                <li v-for="singleTask, i in toDo">
                    <span>{{ toDo[i] }}</span> <i @click="done(i)">X</i>
                    <!-- <p>{{ singleTask[3] }}</p> Ma che succede qui? -->
                </li>
                <input v-model="text" type="text" placeholder="prova" name="serveperforza?" minlength="3"> <button @click="print">Invia</button>
            </ul>
        </div>
        <script src="./main.js"></script>
</body>

</html>